@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

section{
  margin-bottom: 5em;
}

/* #HEADER */

.logo-header{
  padding-left: 5%;
}

.navbar-class{
  padding-top: 3%;
  padding-bottom: 3%;
}

.circle-outer {
  height: 41px;
  width: 41px;
  background-color: #393939;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-outer .circle-middle{
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-middle .circle-inner {
  height: 15px;
  width: 15px;
  background-color: #ffcd61;
  border-radius: 50%;
}

.nav-collapse{
  padding-right: 5%;
}

.nav-links{
  padding-left: 3em;
  color: #393939;
}

.navbutton{
  padding-left: 3em;
}

.navlink{
  margin-left: 1em;
}

.nav-link-to{
  text-decoration: none;
  color: #393939;
}

.navbutton{
  text-decoration: none;
}

.btn-chat-nav-icon{
  margin-left: 10em;
  width: 2em;
  height: auto;
}

.btn-profile-nav-icon{
  margin-right: 3em;
  width: 3em;
  height: 3em;
  object-fit: cover;
}
/* #HOME */

.hero-section-home{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ), url('../images/home_bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding-top: 5%;
  padding-left: 5%;
}

.hero-section-home::after{
  background-color: rgba(203, 203, 212, 0.27);
}

.explore p{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: white;
}

.vehicle-finder{
  margin-top: 7%;
  border-top: #F9F9FB;
}

.vehicle-finder p{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: white;
  
}

.vf-border{
  width: 2em;
  border-bottom: 2px solid white;
  border-radius: 1%;
}

.row-finder{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.finder-btn{
  width: 13em;
  height: 3em;
  margin-right: 3em;
  margin-top: 2em;
  opacity: 0.4;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.finder-date{
  border-radius: 5px;
  padding-left: 1.5em;
  margin-top: 2em;
}

.btn-submit-finder{
  background-color: #FFCD61;
  margin-top: 3em;
  width: 11em;
  height: 3.25em;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.popular-title{
  display: flex;
  justify-content: space-between;
  margin: 5em;
}

.popular-heading{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.popular-cards{
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.vehicle-card{
  border-radius: 5%;
  position: relative;
}

.vehicle-card-img{
    width: 100%;
    height: 25em;
    object-fit: cover;
}

.card-body{
  text-align: start;
  position: absolute;
  background-color: white;
  width: 10em;
  top: 19.75em;
  border-radius: 5%;
  right: 9em;
  padding-left: 1.5em;
}

.home-add-vehicle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-add-button{
  background-color: #393939;
  color: #FFCD61;
  height: 7vh;
  width: 100%;
  margin-top: 5vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.row-testimonials{
  margin-bottom: 5em;
}

.testimonials{
  display: flex;
  margin-left: 5em;
  margin-right: 5em;
}

.testimonials-heading{
  padding-left: 2em;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.stars-test{
  padding-top: 2em;
}

.what-they-say{
  padding-top: 2em;
}

.what-they-say-text{
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.say-name{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.say-origin{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.testimonial-card{
  border-radius: 5%;
  position: relative;
}

.testimonial-card-img{
  border-radius: 5%;
  width: 30vh;
  height: 45vh;
  object-fit: cover;
}

.testimonial-body{
  position: absolute;
  background-color: white;
  width: 10em;
  top: 22.75em;
  border-radius: 16px;
  right: -1em;
  padding-left: 1.5em;
}

.testimonial-buttons{
  display: flex;
}

.circle-prev{
  height: 40px;
  width: 40px;
  border: 2px solid #393939;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-next{
  height: 40px;
  width: 40px;
  border: 2px solid #393939;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked{
  color: orange;
}

/* #LOGIN */
.hero-section-login{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ), url('../images/bromo.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding-top: 10em;
}

.middle-border{
  width: 2em;
  border-left: 2px solid white;
  border-radius: 1%;
}

.donot-have-acc{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
}

input[type=name], select {
  width: 100%;
  height: 4em;
  padding: 12px 20px;
  margin-bottom: 2em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  height: 4em;
  padding: 12px 20px;
  /* margin: 8px 0; */
  margin-bottom: 2em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  height: 4em;
  padding: 12px 20px;
  margin-bottom: 2em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.forgot-password-link{
  color: white;
}

.form-btn{
  min-width: 100%;
  width: 100%;
  height: 4em;
  border-radius: 10px;
}

.signup-btn{
  margin-bottom: 2em;
  background-color: #393939;
  color: #FFCD61;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

.login-btn{
  margin-bottom: 2em;
  background-color: #FFCD61;
  color: #393939;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

.login-google-btn{
  background-color: white;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

/* #FORGOT-PASSWORD */
.hero-section-password{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ), url('../images/forgot-password-bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding-top: 10em;
}

.hero-container-password{
  display: flex;
  flex-direction: column;
  padding-top: 7em;
  justify-content: center;
  align-items: center;
}

.forgot-pass-heading{
  margin-top: -3em;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding-left: 5em;
}

.donot-worry-heading{
  /* margin-top: -3em; */
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: white;
}

.resend-password-button{
  width: 18.5em;
  height: 3em;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #393939;
  background-color: #FFCD61;
}

.resend-password-detail{
  margin-top: 2em;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: white;
}

/* #PROFILE */

.profile-section{
  margin-top: 3em;
}

.profile-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.samantha-profile{
  width: 10em;
  height: 10em;
  object-fit: cover;
}

.user-name{
  margin-top: 1em;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
}

.profile-data p{
  margin-top: 0.5em;
  margin-bottom: -1vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #B8BECD;
}

.profile-gender{
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  align-items: inherit;
  width: 50%;
  justify-content: space-evenly;
}

.gender{
  margin-right: 1em;
}

.gender-label{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contacts-attribute{
  margin-top: 2em;
}

.profile-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.profile-headings{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.profile-email{
  width: 100%;
  height: 3em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.profile-address{
  width: 100%;
  height: 3em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.profile-mobile{
  width: 100%;
  height: 3em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.identity-row{
  padding-top: 2em;
}

.profile-display-name{
  width: 100%;
  height: 3em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.profile-dob{
  width: 100%;
  height: 3em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.submit-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2em;
}

.profile-save{
  background-color: #FFCD61;
  color: #393939;
  width: 15em;
  height: 3em;
  font-size: 24px;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.profile-edit-password{
  background-color: #393939;
  color: #FFCD61;
  width: 15em;
  height: 3em;
  font-size: 24px;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.profile-cancel{
  background-color: rgba(203, 203, 212, 0.27);
  /* opacity: 0.2; */
  color: #393939;
  width: 15em;
  height: 3em;
  font-size: 24px;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

/* #VEHICLE-TYPE */

.search-vehicle-type{
  margin-top: 2vh;
  width: 100%;
  height: 7vh;
  border-radius: 10px;
}

/* #RESERVATION */

.reservation-content{
  padding-left: 5%;
  padding-right: 5%;
}

.reserve-img{
  width: 100%;
  display: block;
  margin-top: 1em;
  border-radius: 10px;
  object-fit: cover;
  /* max-width: 60%; */
}

.vehicle-reserve-title{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.vehicle-reserve-location{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.vehicle-reserve-status{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #9B0A0A;
}


.minus-button{
  background-color: #efefef;
  width: 2em;
  height: 2em;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.plus-button{
  background-color: #FFCD61;
  width: 2em;
  height: 2em;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.reservation-date-heading{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.vehicle-qty{
  max-width: 50%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.add-vehicle-nominal{
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
  justify-content: space-between;
}

.reserve-date-input{
  background-color:rgba(57, 57, 57, 0.2);
  color: #80918E;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 5em;
  margin-right: 3em;
  margin-top: 2em;
  padding-left: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.rent-duration{
  background-color:rgba(57, 57, 57, 0.2);
  color: #80918E;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 5em;
  margin-right: 3em;
  margin-top: 2em;
  padding-left: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.pay-now-button{
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
  height: 4em;
  background-color: #FFCD61;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  border-radius: 10px;
}

/* #PAYMENT */

.payment-container{
  padding-top: 2em;
}

.payment-img{
  display: block;
  width: 100%;
  border-radius: 3%;
}

.payment-item-name{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 0;
}

.payment-item-location{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: -0.5em;
}

.payment-item-status{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #B8BECD;
  margin-bottom: 0;
}

.payment-item-code{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #393939;
  margin-bottom: 0;
}

.copy-booking-code{
  background-color: #FFCD61;
  color: #393939;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.payment-informations{
  margin-top: 2em;
}

.payment-qty-box{
  border: 2px solid #80918E;
  width: 100%;
  height: 7em;
  border-radius: 10px;
}

.payment-qty{
  margin: auto;
  padding: 1.75em 2em 1.5em 2em;
  text-align: start;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.payment-order-details-box{
  border: 2px solid #80918E;
  margin-top: 2em;
  width: 100%;
  height: 15em;
  border-radius: 10px;
}

.payment-order-details-contents{
  padding-left: 3em;
  padding-top: 1.75em;
}

.payment-order-details{
  text-align: start;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

.payment-order-qty{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.payment-order-sum{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.payment-reservation-date-box{
  border: 2px solid #80918E;
  width: 100%;
  height: 7em;
  border-radius: 10px;
}

.payment-reservation-wrapper{
  padding-left: 4em;
  padding-top: 2em;
}

.reserve-date-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.reserve-date-content{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 15em;
  margin-top: -2em;  
}

.payment-identity-box{
  border: 2px solid #80918E;
  margin-top: 2em;
  width: 100%;
  height: 15em;
  border-radius: 10px;
}

.payment-identity-wrapper{
  padding-left: 4em;
  padding-top: 3em;
}

.payment-identity-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

.payment-identity-contents{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.proceed-to-payment{
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.payment-code-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 32px;
  padding-top: 0.5em;
}

.payment-serial-code-wrapper{
  border: 2px solid #80918E;
  width: 40%;
  /* margin-left: -15em; */
  border-radius: 10px;
}

.payment-serial-code{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #393939;
  padding-left: 1em;
  padding-top: 1em;
  display: block;
}

.copy-payment-code{
  background-color: #393939;
  color: #FFCD61;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-left: 15em;
  margin-top: -3.5em;
}

.payment-method{
  width: 30%;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  border-radius: 10px;
  border: 2px solid #80918E;
}

.finish-payment-button{
  margin-top: 2em;
  background-color: #FFCD61;
  color: #393939;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
}

/* #CHAT */

.chat-utils{
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-chat{
  width: 50vw;
  height: 7vh;
  border-radius: 10px;
}

.sort-chat{
  width: 15vw;
  height: 7vh;
  border-radius: 10px;
}

.user-img-chat{
  width: 7em;
  height: 7em;
  object-fit: cover;
}

.chat-user-name{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.chat-user-message{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.chat-user-date{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #9A9A9D;
}

.chat-listgroup-item{
  margin-top: 2vh;
  padding-bottom: 2vh;
}

/* #HISTORY */

.history-content{
  margin-top: 2em;
  padding-bottom: 2em;
  margin-left: 7vw;
  margin-right: 7vw;
}

/* .history-today-notifications{
  display: flex;
  justify-content: space-between;
} */


.history-search-field{
  width:100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  box-sizing: border-box;
  height: 7vh;
  border-radius: 10px;
}

.history-search-filter{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  height: 7vh;
  border-radius: 10px;
}

.vehicle-history-img{
  display: block;
  width: 100%;
  border-radius: 10px;
}

.history-vehicle-name{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.history-vehicle-rent-date{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.history-vehicle-price{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.history-vehicle-status{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.history-check{
  margin-top: 3.5em;
}

.heading-history{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #C4C4C4;
  margin-top: 2vh;
}

.today-payment-history{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.new-arrival-wrapper{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #393939;
  border-radius: 10px;
}

.new-arrival-heading{
  text-align: center;
}

.new-arrival-content{
  margin: 5em;
}

.new-arrival-content > div {
  display: inline-flex;
  /* margin: 6px; */
}

/* #VEHICLE-DETAIL */

.navigate-detail{
  display: flex;
}

.detail-content{
  padding-left: 5%;
  padding-right: 5%;
}

.det-img{
  width: 100%;
  display: block;
  margin-top: 1em;
  border-radius: 10px;
  object-fit: cover;
  /* max-width: 60%; */
}

.vehicle-detail-title{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.vehicle-detail-location{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.vehicle-detail-availability{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #087E0D;
}

.vehicle-detail-status{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #9B0A0A;
}

.vehicle-detail-specs{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.vehicle-detail-price{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: end;
}

.prev-image-button{
  font-size: 48px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  margin-top: 1.5em;
}

.next-image-button{
  font-size: 48px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-align: end;
  margin-top: 1.5em;
}

.detail-buttons{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2em;
}

.chat-admin-button{
  margin-top: 3em;
  margin-bottom: 3em;
  width: 27em;
  height: 4em;
  color: #FFCD61;
  background-color: #393939;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  border-radius: 10px;
}

.reserve-now-button{
  margin-top: 3em;
  margin-bottom: 3em;
  width: 25em;
  height: 4em;
  background-color: #FFCD61;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  border-radius: 10px;
}

.give-like-button{
  margin-top: 3em;
  margin-bottom: 3em;
  width: 14em;
  height: 4em;
  color: #FFCD61;
  background-color: #393939;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 24px;
  border-radius: 10px;
}

.add-to-home-detail{
  width: 20vw;
  height: 7vh;
  color: #FFCD61;
  background-color: #393939;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  border-radius: 10px;
}

.edit-item-detail{
  width: 20vw;
  height: 7vh;
  color: #393939;
  background-color: #FFCD61;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  border-radius: 10px;
}

/* #ADD-VEHICLE */

.add-vehicle-detail{
  margin: 2em
}

.add-vehicle-img{
  width: 100%;
  display: block;
  margin-top: 1em;
  border-radius: 10px;
  object-fit: cover;
  /* max-width: 60%; */
}

.add-vehicle-img-etc{
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
}

.pic-border{
  border: 2px solid #393939;
}

.input-vehicle-name{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 7vh;
  margin-bottom: 2vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.input-vehicle-location{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 7vh;
  margin-bottom: 2vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.input-vehicle-description{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 7vh;
  margin-bottom: 2vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.price-label{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.input-price{
  height: 7vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 2vh;
}

.status-label{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.pick-status{
  height: 7vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 2vh;
}

.stock-label{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.submit-add-vehicle-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2em;
}

.add-item-to{
  background-color: #393939;
  width: 20vw;
  height: 10vh;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FFCD61;
  border-radius: 10px;
}

.save-new-vehicle{
  background-color: #FFCD61;
  width: 25vw;
  height: 10vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #393939;
  border-radius: 10px;
}

/* #EDIT-VEHICLE*/

.delete-vehicle{
  background-color: #393939;
  color: #FFCD61;
  width: 15vw;
  height: 10vh;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
}

/* #FOOTER */

.main-footer{
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #848484;
}

.main-footer h4{
  font-weight: 700;
  color: #393939;
}

.container-footer{
  margin-top: -5em;
  background-color: #F9F9FB;
    line-height: 1.5;
    padding: 2em 10em 0 10em;
    display: flex;
    flex-direction: column;
}

.container-footer .footer-bottom{
  display: flex;
  justify-content: center;
}

.social-links{
  display: flex;
  justify-content: space-around;
}