@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

section{
  margin-bottom: 5em;
}

/* Navi */

.navbar-class{
  padding-top: 5%;
  padding-bottom: 2%;
}

.logo-custom{
  padding-left: 5%;
}

.circle-outer {
  height: 50px;
  width: 50px;
  background-color: #393939;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-outer .circle-middle{
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
}

.circle-middle .circle-inner {
  height: 25px;
  width: 25px;
  background-color: #ffcd61;
  border-radius: 50%;
}

.nav-links{
  color: #393939;
}

.navbutton{
  text-decoration: none;
}
/* Home */

.hero-section-home{
  background-image: url('../images/home_bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding-top: 5%;
  padding-left: 5%;
}

.explore p{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: white;
}

.vehicle-finder{
  margin-top: 7%;
}

.vehicle-finder p{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: white;
}

.row-finder{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.popular-cards{
  display: flex;
  justify-content: space-evenly;
}

.popular-card{
  border-radius: 5%;
}

.popular-card-img{
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.card-body{
  text-align: end;
  position: relative;
}

.testimonials{
  display: flex;
  margin-left: 5em;
  margin-right: 5em;
}

.testimonials-heading{
  padding-left: 2em;
}

.stars-test{
  padding-top: 2em;
}

.what-they-say{
  padding-top: 2em;
}

.checked{
  color: orange;
}

/* Login */
.hero-section-login{
  background-image: url('../images/bromo.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding-top: 10em;
}

input[type=email], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-btn{
  min-width: 80%;
  width: 80%;
  height: 3em;
}
.login-btn{
  margin-bottom: 1%;
}

/* Forgot Password */
.hero-section-password{
  background-image: url('../images/forgot-password-bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding-top: 10em;
}

.hero-container-password{
  display: flex;
  flex-direction: column;
  padding-top: 7em;
  justify-content: center;
  align-items: center;
}

/* Profile */

.profile-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.samantha-profile{
  width: 10em;
  height: 10em;
  object-fit: cover;
}


/* Vehicle Type */

.popular-cards{
  display: flex;
  justify-content: space-evenly;
}

.popular-card{
  border-radius: 5%;
}

.popular-card-img{
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.card-body{
  text-align: end;
  position: relative;
}

/* Footer */
.container-footer{
  margin-top: -5em;
  background-color: #F9F9FB;
    line-height: 1.5;
    padding: 2em 10em 0 10em;
    display: flex;
    flex-direction: column;
}

.container-footer .footer-bottom{
  display: flex;
  justify-content: center;
}

